---
title: Billing
---

<strong><%= modified_date %></strong>

Billing happens via billing accounts. The resources you consume are always billed by their peak usage of each hour. This means that if you have an app running for 5 minutes of one hour, you will still be billed for the whole hour. Furthermore, if the app uses 64MB for one minute and 256MB for the next four minutes, you will be billed for 256MB for the whole hour.

To get to our price list, please visit [https://developer.swisscom.com/pricing](https://developer.swisscom.com/pricing).

## <a id='toc'></a> Table of Contents

* [Billing Accounts](./accounts.html)
